
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: larger;
}

.container-fluid {
    padding: 2em;
}

#house-el, #player-el {
    color: goldenrod;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin: 4px 0;
}